.App {
  margin: 20px;
}

.account-card {
  width: 300px;
  margin: 20px;
  padding: 20px;
}

.account-card:hover{
  cursor: pointer;
  background-color: rgb(228, 228, 228);
}

.results-container{
  display: flex;
}

.results-left {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
}

.results-right{
  display: flex;
  flex-direction: column;
}